<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
	<link rel="stylesheet" type="text/css" href="https://use.typekit.net/zgu2qlb.css&display=swap">
	<title>Josephine Lo</title>

</head>

<body>
	<div class="options">
		<%= link_to "EXPERIENCE", "/experience" %>
		<%= link_to "PROJECTS", "/projects" %>
		<%= link_to "HOME", "/home" %>
	</div>	
	<div id="navbar">
		<figure>
			<div>
				<figcaption>JOSEPHINE LO</figcaption>
				<%= image_tag("portrait.webp", :class => "portrait", :alt => "Photo of Josephine Lo", :width => "100vw")%>
				<div class="mail-icon">
					<span class="fa-stack" style="position: absolute; left: 15%; bottom: 6%; font-size: 18.5px">
						<i class="far fa-circle fa-4x fa-stack-1x"></i>
						<i class="fas fa-circle fa-4x fa-stack-1x"></i>
						<a href="mailto:jlo2@scu.edu"><i class="far fa-envelope fa-2x fa-stack-2x" style="left: 30%;"></i></a>
						<a href="mailto:jlo2@scu.edu"><i class="fas fa-envelope fa-2x fa-stack-2x" style="left: 30%;"></i></a>
					</span>
				</div>
				<div class="github-icon">
					<span class="fa-stack" style="position: absolute; right: 15%; bottom: 4%; font-size: 30px;">
						<i class="far fa-circle fa-4x fa-stack-1x"></i>
						<a href="https://github.com/josephine-lo" target="_blank"><i class="fab fa-github fa-2x fa-stack-2x" style="position: absolute; bottom: 3%; right: 100%;"></i></a>
					</span>
				</div>
				<div class="linkedin-icon">
					<span class="fa-stack" style="position: absolute; left: calc(25vw - 58%); bottom: 6%; font-size: 18.5px">
						<i class="fas fa-circle fa-4x fa-stack-1x" style="position: absolute; left: 0%"></i>
						<i class="far fa-circle fa-4x fa-stack-1x" style="position: absolute; left: 0%;"></i></a>
						<a href="https://www.linkedin.com/in/lo-josephine/" target="_blank"><i class="fab fa-linkedin-in fa-2x fa-stack-2x" style="padding-left:45%;"></i></a>
					</span>
				</div>
			</div>
		</figure>
	</div>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="greet">
					<h1>.josephine-lo {</h1>
					<h2>
				  	<p>&emsp;&emsp;<i>school:</i> Santa Clara University;</p>
				  	<p>&emsp;&emsp;<i>major:</i> Computer Science, B.S.;</p>
				  	<p>&emsp;&emsp;<i>standing:</i> Junior;</p>
				  	<p>&emsp;&emsp;<i>expected-graduation:</i> June 2022;</p>
				  	</h2>
				  	<h1>}</h1>
				</div>
			</div>
			<br><br><br><br><br><br><br><br><br><br>
			Hello there! This website is currently under construction--please pardon the dust!
			<!--
			<iframe src="https://open.spotify.com/embed/playlist/16YvnD9BZhhMh2GZgPXVIS" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


			<div class="row">
				<div class="square">RECENT PROJECTS</div>
				<div class="intro">
					<img src="./img/blockybunny.png" class="blockybunny">
				</div>
			</div>
		</div>-->
	</div>
	<%= yield %>
</body>
</html>
