
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://use.typekit.net/zgu2qlb.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
	<title>Josephine Lo</title>
</head>

<body>
	<div class="options">
		<%= link_to "EXPERIENCE", "/experience" %>
		<%= link_to "PROJECTS", "/projects" %>
		<%= link_to "HOME", "/home" %>
	</div>
	<div id="navbar">
		<figure>
			<div>
				<figcaption>JOSEPHINE LO</figcaption>
				<%= image_tag("portrait.jpg", :class => "portrait", :alt => "Photo of Josephine Lo", :width => "100%")%>
				<div class="mail-icon">
					<span class="fa-stack" style="position: absolute; left: 15%; bottom: 6%; font-size: 18.5px">
						<i class="far fa-circle fa-4x fa-stack-1x"></i>
						<i class="fas fa-circle fa-4x fa-stack-1x"></i>
						<a href="mailto:jlo2@scu.edu"><i class="far fa-envelope fa-2x fa-stack-2x" style="left: 30%;"></i></a>
						<a href="mailto:jlo2@scu.edu"><i class="fas fa-envelope fa-2x fa-stack-2x" style="left: 30%;"></i></a>
					</span>
				</div>
				<div class="github-icon">
					<span class="fa-stack" style="position: absolute; right: 15%; bottom: 4%; font-size: 30px;">
						<i class="far fa-circle fa-4x fa-stack-1x"></i>
						<a href="https://github.com/josephine-lo" target="_blank"><i class="fab fa-github fa-2x fa-stack-2x" style="position: absolute; bottom: 3%; right: 100%;"></i></a>
					</span>
				</div>
				<div class="linkedin-icon">
					<span class="fa-stack" style="position: absolute; left: calc(25vw - 58%); bottom: 6%; font-size: 18.5px">
						<i class="fas fa-circle fa-4x fa-stack-1x" style="position: absolute; left: 0%"></i>
						<i class="far fa-circle fa-4x fa-stack-1x" style="position: absolute; left: 0%;"></i></a>
						<a href="https://www.linkedin.com/in/lo-josephine/" target="_blank"><i class="fab fa-linkedin-in fa-2x fa-stack-2x" style="padding-left:45%;"></i></a>
					</span>
				</div>
			</div>
		</figure>
	</div>
	<div class="main" style="width:53%; margin-left:25%;">
		  <br><br><br>
		  <h3><b>Blocky Bunny</h3>
		  <h5>Technologies: </b><i>HTML, WebGL (Javascript API), GLSL</i></h5><br>
		  <%= image_tag("blockybunny.png", :class => "bunny", :alt => "Blocky Bunny")%>
		  <p><br>This is a 3D animated blocky bunny with natural movement and controllable parts! It has animated features that allow it to <i>look around, move its arms, or wave.</i> There is also a camera feature to pan around the bunny. Feel free to play around with it below!</p>
		  <p>The bunny is actually made from a lot of triangles, which were formed from individual points. This program started as a paint program that drew points, and then triangles, and now it is a blocky bunny! GLSL is used to create the illusion of depth.</p>

		  <center><a href="https://josephine-lo.github.io/Blocky-Bunny/" target="_blank" class="seeMore">See More</a></center>
		  <p>
		  <div class="line"></div>
		  <h3><b>Moodly</h3>
		  <h5>Technologies: </b><i>Swift</i>&emsp;&emsp;<b>Size of Team: </b><i>Five</i></h5>
		  <%= image_tag("hack1.png", :class => "hackPic", :alt => "Moodly Demo")%>
		  <%= image_tag("hack2.png", :class => "hackPic", :alt => "Moodly Demo")%>
		  <%= image_tag("hack3.png", :class => "hackPic", :alt => "Moodly Demo")%>
		  <%= image_tag("hack4.png", :class => "hackPic", :alt => "Moodly Demo")%>

		  <p>This was a hackathon entry for CruzHacks 2020. None of us had known how to code in Swift prior to the hackathon, but it was satisfying to make a functional iOS app. While working on the project, we ran into a few problems:
		  	<br><br>&emsp;1. Not everyone owned an Apple device and could code in Xcode
		  	<br>&emsp;2. None of us knew how to code in Swift
		  	<br>&emsp;3. We all mostly had backend development experience
		  <br><br>To solve the first two problems, we mostly worked in pairs. Each pair (or group of three or individual) would be in charge of one component from research to execution. Then, each pair took turns coding their component on a laptop with Xcode; this allowed our team to work efficiently despite limitations. As for the last problem, I was the only one on the team with some UI/UX experience <i>(thank you game design classes)</i>, so I decided to oversee the frontend development. Although our entry could barely compare to the other impressive apps and innovations, the experience that I gained from coding in a team was invaluable.
		  </p>
		  <center><a href="https://github.com/josephine-lo/moodly" target="_blank" class="seeMore">See More</a></center>
		  <div class="line"></div>
		  <h3><b>Personal Website</h3>
		  <h5>Technologies: </b><i>Rails 6, Bootstrap 4, SCSS/CSS, Heroku</i></h5><br>
		  <p> Yup, you guessed it! I am referring to this website! I've been wanting to build my own website to showcase my projects (and for the learning experience) for the longest time! This started off as a static HTML page, but I wanted to expand my horizons from what I already knew, and I'm so glad I did!
		  
		  <br><br><br><br><br>
	</div>
</body>
</html>
