
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://use.typekit.net/zgu2qlb.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<title>Josephine Lo</title>
</head>

<body>
	<div class="options">
		<%= link_to "EXPERIENCE", "/experience" %>
		<%= link_to "PROJECTS", "/projects" %>
		<%= link_to "HOME", "/home" %>
	</div>
	<div id="navbar">
		<figure>
			<div>
				<figcaption>JOSEPHINE LO</figcaption>
				<%= image_tag("portrait.jpeg", :class => "portrait", :alt => "Photo of Josephine Lo", :width => "100%")%>
				<%= link_to image_tag("mail.png", :class => "icon1", :alt => "Email Icon"), "mailto:jlo2@scu.edu" %>
				<%= link_to image_tag("linkedin.png", :class => "icon2", :alt => "Linkedin Icon"), "https://www.linkedin.com/in/lo-josephine/", :target => "_blank" %>
				<%= link_to image_tag("github.png", :class => "icon3", :alt => "Github Icon"), "https://github.com/josephine-lo", :target => "_blank"%>
			</div>
		</figure>
	</div>
	<div class="main" style="width: 100%; padding-right: 30%; padding-top: 10%">
		<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Software Engineer Intern</h3>
                                <p class="description">
                                	<b>Explorastay</b> <i>(Sept 2020 - Present)</i>
                                    I am currently interning at a startup based in Austin, TX. I've been responsible for making the company's home page responsive using React and Node.js
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Assistant Technician</h3>
                                <p class="description">
                                	<b>Friendship Agape Church</b> <i>(Sept 2013 - Present)</i>
                                    Assist church leaders in the soundbooth by adjusting output volume, navigating through PowerPoint slides, and troubleshooting issues when they're understaffed.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Web Designer</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                        <a href="#" class="timeline">
                            <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Web Developer</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
  
		<br><br><br>
		  
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</body>

